/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */

@import "../node_modules/modern-normalize/modern-normalize.css";
/* npm install modern-normalize 
            Resets elements for browser consistency.  
            http://nicolasgallagher.com/about-normalize-css/ 
          */

* {
  box-sizing: border-box;
}

/*  ----- Viewport ----- elements inherited by all remaining elements ----- */
body {
  background-color: rgb(10, 12, 16);
  color: rgb(144, 226, 235);
  font-size: 1.2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* ----- Anchors ----- Text links */
a {
  text-decoration: none;
}
a:link {
}
a:hover {
}
a:active {
}
a:visited {
}

/*  ----- Navigation ----- Override text links for navigation only.  */
nav {
  display: flex;
  justify-content: center;
  /* Using icons for NAV so did not include all properties:values */
}
nav a {
  color: rgb(17, 212, 140);
  margin: 0 5%;
}

nav a:hover {
  transform: translateY(-2px);
}

nav a:active {
  transform: translateY(2px);
}
/*  ----- Page layout blocks -----  */

main {
  background-color: rgb(12, 14, 12);
  color: rgb(125, 226, 235);
  margin: 1% 15%;
  padding: 1%;
  box-shadow: 0 0 12px #3c4fe0;
}

footer,
header {
  background-color: rgb(48, 50, 54);
  color: rgb(118, 210, 220);
  padding: 0.1em;
}
header {
  overflow: hidden;
  margin-bottom: 2%;
  border-bottom: 1px solid rgb(118, 210, 220);
  height: max-content;
  font-size: 1.1em;
  font-weight: bold;
}
footer {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  height: max-content;
  border-top: 1px solid rgb(118, 210, 220);
  font-weight: 100;
  font-size: 0.8em;
}

/*  ----- Table ----- */
table {
  border-collapse: collapse;
  width: 100%;
  border: none;
  padding: 1%;
  /* putting any border on the table looks ugly.... */
}
caption {
  margin-bottom: 1%;
}
thead {
}
tbody {
}
tfoot {
}
tr {
}
tr:nth-child(even) {
  background-color: rgb(37, 43, 56);
}
th {
}
td {
  padding: 1em;
}
td:nth-child(1) {
}
colgroup {
}
data {
}
datalist {
}

/*  ----- Form ----- */

/* INPUT, SELECT, and BUTTON rules' values include padding and font properties that match the BODY's rule. */

form {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
fieldset {
  border: none;
}
legend {
  margin: 1%;
}

input,
select,
button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1%;
}

input {
  background: rgb(38, 40, 40);
  color: white;
}

input::placeholder {
  color: rgb(255, 255, 255, 0.2);
}

input[type="date"] {
  color: rgb(255, 255, 255, 0.2);
}

input[type="date"]:focus-visible {
  color: white;
}

select {
  background: rgb(38, 40, 40);
  color: white;
}

input,
select {
  display: block;
  margin: 1em auto;
  padding: 7px;
  border: 0.1px solid rgb(255, 255, 255);
}

input:valid {
  box-shadow: 0 0 8px 1px rgb(0, 255, 30);
}

input:invalid {
  box-shadow: 0 0 8px 1px rgb(255, 0, 0);
}

input:focus {
  box-shadow: none;
  outline: none;
}
button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/* ----- Media ----- */

/*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */

.editIcon,
.deleteIcon {
  cursor: pointer;
}

.editIcon:hover,
.deleteIcon:hover {
  transform: translateY(-2px);
}

.editIcon:active,
.deleteIcon:active {
  transform: translateY(2px);
}

@keyframes App-logo {
}

/*   ===== TABLET  media query overrides mobile styles ===== */
@media all and (min-width: 600px) {
}

/*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
@media all and (min-width: 1080px) {
}

/*   ===== PRINT  media query overrides previous styles =====  */
@media print {
}
